<div class="formulario-area">
  <form
    class="form-cad"
    [formGroup]="formularioGroup"
    (ngSubmit)="formSubmit()"
  >
    <div class="cad-block">
      <mat-form-field class="form-field input-nome" appearance="fill">
        <mat-label>Nome Cliente:</mat-label>
        <input matInput type="text" formControlName="nomeCliente" />
      </mat-form-field>
      <mat-form-field class="form-field input-email" appearance="fill">
        <mat-label>E-mail:</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="cad-block">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>CPF:</mat-label>
        <input matInput type="text" formControlName="cpf" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Data Nascimento:</mat-label>
        <input matInput type="text" formControlName="dataNascimento" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Renda Mensal:</mat-label>
        <input matInput type="input" formControlName="rendaMensal" />
      </mat-form-field>
    </div>
    <div class="area-buttons">
      <button
        mat-flat-button
        type="button"
        color="secondary"
        class="btn-limpar-campos btn-form"
        (click)="limparCampos()"
      >
        Limpar
      </button>
      <button mat-flat-button type="submit" color="primary" class="btn-primary btn-form">
        Salvar
      </button>
    </div>
  </form>
</div>
