.formulario-area {
  .form-cad {
    .cad-block {
      display: flex;
      gap: 10px;
      .form-field {
        width: 32.8%;
      }
      .input-nome,
      .input-email {
        width: 49.5%;
      }
      
    }

    .area-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      .btn-limpar-campos {
        background-color: #9E9E9E !important;
      }
    }
  }
}

::ng-deep {
  .mdc-text-field--filled,
  .mat-mdc-form-field-focus-overlay {
    background-color: #fff !important;
  }

  .mdc-text-field {
    border: 1px solid #ededed;
    border-radius: 8px !important;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    font-size: 12px;
    color: #053542;
  }

  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      .mat-mdc-floating-label,
      .mdc-floating-label-float-above {
        font-weight: 700;
        top: 10px;
        font-size: 10px;
        transform: none;
        color: #00586f;
      }
    }
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
    .mdc-line-ripple::before {
      border-bottom-color: transparent;
    }
  }

  .mdc-line-ripple--active {
    display: none;
  }

}
