<div class="filtros-area">
  <form class="form-search">
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>Nome Cliente:</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>CPF:</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>Data Nascimento:</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <div class="button-search">
      <button mat-flat-button color="primary" class="btn-primary">Buscar</button>
    </div>
  </form>
</div>
