<div class="filtros-area">
  <form class="form-search" [formGroup]="filtrosGroup" (ngSubmit)="filtrarClientes()">
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>Nome Cliente:</mat-label>
      <input matInput type="text" formControlName="nomeCliente"/>
    </mat-form-field>
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>CPF:</mat-label>
      <input matInput type="text"  formControlName="cpf" [mask]="'000.000.000-00'"/>
    </mat-form-field>
    <mat-form-field class="filtro-form-field" appearance="fill">
      <mat-label>Data Nascimento:</mat-label>
      <input matInput type="input"  formControlName="dataNascimento" [mask]="'d0/M0/0000'" [leadZeroDateTime]="true" [dropSpecialCharacters]="false"/>
    </mat-form-field>
    <a class="btn-limpar-campos" (click)="limparCampos()">Limpar Campos</a>
    <div class="button-search">
      <button mat-flat-button type="submit" color="primary" class="btn-primary">Buscar</button>
    </div>
  </form>
</div>
