$primary: (
  50: #e0ebee,
  100: #7fabb7,
  200: #7fabb7,
  300: #11728b,
  400: #11728b,
  500: #00586f,
  600: #00586f,
  700: #0a4a5b,
  800: #0a4a5b,
  900: #002c37,
  A100: #75cbff,
  A200: #42b8ff,
  A400: #0fa5ff,
  A700: #0099f5,
  contrast: (
    50: #1A1A1A,
    100: #1A1A1A,
    200: #1A1A1A,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #1A1A1A,
    A200: #1A1A1A,
    A400: #1A1A1A,
    A700: #ffffff,
  ),
);

$secondary: (
  50: #eefaea,
  100: #C7EFB9
  ,
  200: #9DE385,
  300: #9DE385,
  400: #73d852,
  500: #73d852,
  600: #5cac41,
  700: #5cac41,
  800: #396c29,
  900: #396c29,
  A100: #fefffd,
  A200: #d3ffca,
  A400: #a8ff97,
  A700: #92ff7e,
  contrast: (
    50: #1A1A1A,
    100: #1A1A1A,
    200: #1A1A1A,
    300: #1A1A1A,
    400: #1A1A1A,
    500: #1A1A1A,
    600: #1A1A1A,
    700: #1A1A1A,
    800: #fff,
    900: #fff,
    A100: #1A1A1A,
    A200: #1A1A1A,
    A400: #1A1A1A,
    A700: #1A1A1A,
  ),
);

$warning: (
  50: #fcfae4,
  100: #FAF6D3,
  200: #F0E57A,
  300: #F0E57A,
  400: #e6d422,
  500: #e6d422,
  600: #AD9F1A,
  700: #AD9F1A,
  800: #736A11,
  900: #736A11,
  A100: #ffffff,
  A200: #fff7cd,
  A400: #fff09a,
  A700: #ffec80,
  contrast: (
    50: #1A1A1A,
    100: #1A1A1A,
    200: #1A1A1A,
    300: #1A1A1A,
    400: #1A1A1A,
    500: #1A1A1A,
    600: #1A1A1A,
    700: #1A1A1A,
    800: #fff,
    900: #fff,
    A100: #1A1A1A,
    A200: #1A1A1A,
    A400: #1A1A1A,
    A700: #1A1A1A,
  ),
);
