@use "./variables" as variable;

$primary: (
  50: variable.$color-brand-primary-lightest,
  100: variable.$color-brand-primary-lightest,
  200: variable.$color-brand-primary-light,
  300: variable.$color-brand-primary-light,
  400: variable.$color-brand-primary-medium,
  500: variable.$color-brand-primary-medium,
  600: variable.$color-brand-primary-dark,
  700: variable.$color-brand-primary-dark,
  800: variable.$color-brand-primary-darkest,
  900: variable.$color-brand-primary-darkest,
  A100: variable.$color-support-primary-lightest,
  A200: variable.$color-support-primary-light,
  A400: variable.$color-support-primary-medium,
  A700: variable.$color-support-primary-dark,
  contrast: (
    50: variable.$text-dark,
    100: variable.$text-dark,
    200: variable.$text-dark,
    300: variable.$text-light,
    400: variable.$text-light,
    500: variable.$text-light,
    600: variable.$text-light,
    700: variable.$text-light,
    800: variable.$text-light,
    900: variable.$text-light,
    A100: variable.$text-dark,
    A200: variable.$text-dark,
    A400: variable.$text-dark,
    A700: variable.$text-light,
  ),
);

$secondary: (
  50: variable.$color-brand-secondary-lightest,
  100: variable.$color-brand-secondary-lightest,
  200: variable.$color-brand-secondary-light,
  300: variable.$color-brand-secondary-light,
  400: variable.$color-brand-secondary-medium,
  500: variable.$color-brand-secondary-medium,
  600: variable.$color-brand-secondary-dark,
  700: variable.$color-brand-secondary-dark,
  800: variable.$color-brand-secondary-darkest,
  900: variable.$color-brand-secondary-darkest,
  A100: variable.$color-brand-secondary-lightest,
  A200: variable.$color-brand-secondary-light,
  A400: variable.$color-brand-secondary-medium,
  A700: variable.$color-brand-secondary-dark,
  contrast: (
    50: variable.$text-dark,
    100: variable.$text-dark,
    200: variable.$text-dark,
    300: variable.$text-dark,
    400: variable.$text-dark,
    500: variable.$text-dark,
    600: variable.$text-dark,
    700: variable.$text-dark,
    800: variable.$text-light,
    900: variable.$text-light,
    A100: variable.$text-dark,
    A200: variable.$text-dark,
    A400: variable.$text-dark,
    A700: variable.$text-dark,
  ),
);

$warning: (
  50: variable.$color-brand-warn-lightest,
  100: variable.$color-brand-warn-lightest,
  200: variable.$color-brand-warn-light,
  300: variable.$color-brand-warn-light,
  400: variable.$color-brand-warn-medium,
  500: variable.$color-brand-warn-medium,
  600: variable.$color-brand-warn-dark,
  700: variable.$color-brand-warn-dark,
  800: variable.$color-brand-warn-darkest,
  900: variable.$color-brand-warn-darkest,
  A100: variable.$color-brand-warn-lightest,
  A200: variable.$color-brand-warn-light,
  A400: variable.$color-brand-warn-medium,
  A700: variable.$color-brand-warn-dark,
  contrast: (
    50: variable.$text-dark,
    100: variable.$text-dark,
    200: variable.$text-dark,
    300: variable.$text-dark,
    400: variable.$text-dark,
    500: variable.$text-dark,
    600: variable.$text-dark,
    700: variable.$text-dark,
    800: variable.$text-light,
    900: variable.$text-light,
    A100: variable.$text-dark,
    A200: variable.$text-dark,
    A400: variable.$text-dark,
    A700: variable.$text-dark,
  ),
);
