$color-brand-primary-darkest: #002c37;
$color-brand-primary-dark: #0a4a5b;
$color-brand-primary-medium: #00586f;
$color-brand-primary-light: #11728b;
$color-brand-primary-lightest: #7fabb7;
$color-support-primary-dark: #0b8099;
$color-support-primary-medium: #0ea0c0;
$color-support-primary-light: #56bcd2;
$color-support-primary-lightest: #9ed9e5;

$color-brand-secondary-darkest: #396C29;
$color-brand-secondary-dark: #5CAC41;
$color-brand-secondary-medium: #73D852;
$color-brand-secondary-light: #9DE385;
$color-brand-secondary-lightest: #C7EFB9;
$color-support-secondary-dark: #5CAC41;
$color-support-secondary-medium: #73D852;
$color-support-secondary-light: #9DE385;
$color-support-secondary-lightest: #C7EFB9;

$color-brand-warn-darkest: #7A6019;
$color-brand-warn-dark: #C49A28;
$color-brand-warn-medium: #F5C132;
$color-brand-warn-light: #F8D36F;
$color-brand-warn-lightest: #FBE6AD;
$color-support-warn-dark: #C49A28;
$color-support-warn-medium: #F5C132;
$color-support-warn-light: #F8D36F;
$color-support-warn-lightest: #FBE6AD;

$text-light: #ffffff;
$text-dark: #1A1A1A;